

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  overflow: hidden; 
}

.image-grid img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  border-radius: 7px; 
  overflow: hidden;
}

.md-grid-tile {
  display: flex;
  flex-direction: column;
}

.md-grid-tile img {
  flex-grow: 1;
}
.bodyContainer {
  margin-left: auto;
  margin-right: auto;
}

.bodyContainer {
  height: 100vh; 
  overflow: hidden; 
}

.search {
  position: fixed;
  z-index: 100;

 margin-top: 30px;
  height: 70px; 

  display: flex;
  align-items: center;
  padding: 0 10px;
}

.image-container{
margin-top: 150px; overflow-y: auto;
height: calc(100% - 170px);

}
.image-container::-webkit-scrollbar {
  display: none;
}